body {
  background: rgb(150, 200, 255) url("mountains.jpg");
  background-size: cover;
}


header {
  text-align: center;
  font-family: "Trebuchet MS";
  text-transform: uppercase;

}

footer {
  color: white;
  font-family: "Trebuchet MS";
  text-shadow: 1px 1px black;

  position: fixed;
  bottom: 10px;
  text-align: center;
}
